<!DOCTYPE html>
<html>
	<head>
		<title>Craig</title>
    	<link rel="stylesheet" media="all" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    	<link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}">
    	<!--<script src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>-->
	</head>
	<body>
		<section id="query" class="container col-md-8 col-md-offset-2">
			<h1>Craig Matcher</h1>
			<form name="input" method="post">
				<div class="input-group">
					<input class="form-control" type="text" name="url" placeholder="Enter your URL">
					<span class="input-group-btn">
						<input class="btn btn-default" type="submit" value="Submit">
					</span>
				</div>
			</form>
		</section>

		<section id="result" class="container">
			<div class="col-md-6">
				<strong>Your search: </strong><a href="{{qry}}" target="_blank">{{qry}}</a>
				<p>{{qry_desc}}</p>
			</div>

			<div class="col-md-6">
				<strong>Most similar: </strong><a href="{{link}}" target="_blank">{{link}}</a>
				<p>{{desc}}</p>
			</div>
		</section>
	</body>
</html>
